html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	background: #eee;
	color: #444;
	font: 10px Ruda, Open Sans, Helvetica, sanf-serif;
}

html,body {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

a {
	color: #888;
}

::selection {
	background: #e1574c;
	color: #fff;
}
::-moz-selection {
	background: #e1574c;
	color: #fff;
}

.logo .svg {
	height: 9em;
	background: url(/icon.svg) center center no-repeat;
}

.content {
	box-sizing: border-box;
	padding-left: 1em;
	padding-right: 1em;
}

.home {
	width: 400px;
}
.logo {
	margin-top: 4.3em;
	margin-bottom: 3em;
}

.logo .text {
	display: none;
}

h2 {
	padding-top: 1.4em;
	font-size: 1.7em;
	font-weight: bold;
}

.data {
	margin-top: 2.4em;
	color: #eee;
	background: #444;
	padding: 2em 2.2em 1.8em 2.2em;
}

.text-input-wrap {
	margin-top: 1em;
	border: 3px solid #444;
}

.text-input {
	background: transparent;
	height: 3.9em;
	width: 100%;
	box-sizing: border-box;
	border: none;
	text-align: left;
	font-family: Ruda, Open Sans, Helvetica, sanf-serif;
	font-size: 1.2em;
	padding-top: 1.5em;
}

::-webkit-input-placeholder {
	color: #888;
	text-align: center;
}

.data, .text-input-wrap {
	min-width: 80%;
}

.data.error {
	background: #e83939;
	color: #fff;
}

.instructions {
	font-size: 1.2em;
}

.tip {
	margin-top: 4em;
	line-height: 1.7em;
	font-size: 1.2em;
}

.logo a {
	color: #444;
	text-decoration: none;
}

.footer {
	margin-top: 3em;
	font-size: 1em;
	color: #888;
	line-height: 1.7em;
	margin-bottom: 1em;
}

.upload {
	margin-top: 4em;
}

.upload-link {
	max-width: 500px;
	padding: .7em;
	border: 3px solid #444;
	background: #fff;
	margin-bottom: 2em;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.3em;
}

.upload-content {
	max-width: 500px;
	padding: .7em;
	background: #fff;
	text-align: left;
	box-sizing: border-box;
}

b {
	font-weight: bold;
}

@media (max-width: 400px) {
	.content {
		width: 100%;
	}
	.home {
		width: 100%;
	}
	.logo .mega-octicon {
		font-size: 7em;
	}
	.upload-content {
		width: 100%;
	}
}

.file-upload {
	border: 2px solid red;
	border-radius: 0;
	padding: 2em;
	width: 28em;
	position: absolute;
	margin: 0;
	margin-left: -14em;
	margin-top: -2.4em;
	box-sizing: border-box;
	opacity: 0;

}
.file-upload::-webkit-file-upload-button {
	visibility: hidden;
}

.image {
	max-width: 80%;
}

input {
	outline: none;
	border-radius: 0;
}

.nav {
	margin-top: -2.9em;
	float: left;
	width: 0;
}

.back {
	font-size: 3em;
}
